# Credit Risk Evaluator

In [21]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [22]:
# Import the data
data = Path('Resources/lending_data.csv')
df = pd.read_csv(data)
df.sample(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
11480,10600.0,7.620,52300,0.426386,5,1,22300,0
21629,8800.0,6.845,45000,0.333333,3,0,15000,0
64116,8200.0,6.589,42600,0.295775,2,0,12600,0
15605,9200.0,7.056,47000,0.361702,3,0,17000,0
44883,7600.0,6.350,40400,0.257426,2,0,10400,0
58608,9800.0,7.284,49100,0.389002,4,0,19100,0
511,8700.0,6.824,44800,0.330357,3,0,14800,0
62807,10700.0,7.684,52900,0.432892,5,1,22900,0
61736,9400.0,7.118,47600,0.369748,3,0,17600,0
72314,10200.0,7.447,50700,0.408284,4,1,20700,0

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

*Replace the text in this markdown cell with your predictions, and be sure to provide justification for your guess.*

## Split the Data into Training and Testing Sets

In [23]:
# Create features and drop columns
X = df.drop(columns=["loan_status"])
y = df["loan_status"]

In [24]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
46442,10100.0,7.418,50400,0.404762,4,1,20400
1269,23800.0,13.235,105200,0.714829,16,3,75200
5452,8600.0,6.779,44400,0.324324,3,0,14400
25567,9600.0,7.225,48600,0.382716,4,0,18600
42828,10100.0,7.405,50300,0.403579,4,1,20300

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [25]:
# Standardizing the data
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [26]:
# Train a Logistic Regression model and print the model score
classifier = LogisticRegression(max_iter=10000)
classifier.fit(X_train_scaled, y_train)
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.993878112532673
Testing Data Score: 0.9948926950061907

In [27]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.9972657862154354
Testing Score: 0.991900536524969

*Which model performed better? How does that compare to your prediction? Replace the text in this markdown cell with your answers to these questions.*
The Logistic Regression model performed better than the Random Forest Classifier. The training and score for both models is very close when compared.